* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #fafafa;
}

.board-title {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  margin: 3rem 0;
}

.board-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.scores-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 0 3rem;
}

.recent-scores {
  display: flex;
  gap: 1rem;
  margin: 0 3rem;
}

.scores-list {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px;
  margin: 1rem;
}

.score {
  list-style: none;
}

.score span {
  margin: 0 4rem 0 1rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form button {
  width: 40%;
}
