* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.board-title {
  text-align: center;
  display: block;
  margin: 5rem auto;
  font-size: 3rem;
  border-bottom: 2px solid black;
  width: 25%;
  border-width: 5px 0;
}

.board-container {
  display: flex;
  justify-content: center;
}

.scores-container {
  width: 30%;
  background-color: #f2f2f2;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
  margin-right: 5rem;
}

.recent-scores {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.refresh {
  background-color: lightblue;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.refresh:hover {
  background-color: blue;
}

.scores-list {
  list-style: none;
  padding: 0;
}

.score {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.data-input {
  width: 30%;
  background-color: #f2f2f2;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="text"],
input[type="number"] {
  width: 80%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  background-color: lightblue;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button[type="submit"]:hover {
  background-color: blue;
}
